<a href="https://colab.research.google.com/github/srfslvr14/Math-152/blob/main/exploration1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploration 1 : *The 3n+1 Conjecture.*

In this notebook, we will be exploring the fabeled **3n+1 conjecture**. This conjecture states that, starting with some number *n*, we can create a series by following two rules.

1. If *n* is an even number, divide it by 2
2. if *n* is an odd number, have *n = 3n+1*

By following these rules, we will result in a series containing each iteration and value of *n* as we progress, and, by the odd properties of this conjecture, the series will inveittibly begin repeating 4,2,1 over and over again. This is because 4 is even, so *n* = (4/2) = 2, 2 is even, so *n* = (2/2) = 1, and since 1 is odd, *n* = (3x1+1) = 4, and thus we arrive back at *n* = 4.

For example, if we take *n* = 10, we find the resulting series: [ 10, 5, 16, 8, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, ... ] and so on. Once *n* = 4, the series has inevitibly begun, and the repeated 4,2,1 values will occur exclusivly. 


// define the issue and explain it to the reader

// how we are going to tackle the problem, what solutions we have come up with 

// explain varibles and functions by name

// use timing package ( %timeit function_name )

In order to explore this conjecture further, we have defined the following python function, **exploration(n)**, which takes a number *n*, and returns the resulting series in the form of a list based on the *3n+1 Conjecture*'s bounds. We can easily apply the rules of the *3n+1* conjecture to our defined function, by using a for loop to iterate a lot, and by setting control statments (if statements) to change the value of *n* to either *n/2* or *3n+1* depending on if *n* is even or odd. 

So as of now, by taking in *n*, we have set the pace for a function which will iterate a lot (say 100 times), and change *n*'s value to *n/2* if *n* is even, or *3n+1* if *n* is odd. Each iteration, we will also append the newest computed value of *n* into a list to eventually return the first 100 indecies of the series created by the *3n+1* conjecture. 


**Defined Varibles**: 
  - *result_list* : a list varible to store the resulting series as we iterated and append more values of *n* to it.
  - *i* : a varible to store which number iteration we are currently on, mainly used to keep track for use in the for loop
  - *n* : a varible used to store the initial value of *n*, as well as store every value computed within each iteration thereafter. 


Overall Logic: create a function which takes in a number *n*, and outputs 

Time Optimization:

In [9]:
def exploration(n):
  result_list = [n]  # define a list storage for our series result

  # Loop 100 times in order to provide a sufficent amount of 
  # iterations to find the 4,2,1 loop in the resulting series
  for i in range(1,100):

    # 1. if n is even, divide by 2
    # 2. if n is odd, n = 3n+1
    if(n % 2 == 0):
      n = n//2
    else: 
      n = (3*n)+1

    # 3. add the new n to our resulting series
    result_list.append(n)

  return result_list

In [46]:
print(("Resulting Series for {}:").format(77)  , exploration(77))
print(("Resulting Series for {}:").format(100) , exploration(100))
print(("Resulting Series for {}:").format(92)  , exploration(92))
print(("Resulting Series for {}:").format(591) , exploration(591))
print(("Resulting Series for {}:").format(3)   , exploration(3))

Resulting Series for 77: [77, 232, 116, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2]
Resulting Series for 100: [100, 50, 25, 76, 38, 19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2]
Resulting Series for 92: [92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4]
Resulting Series for 591: [591, 1774, 887, 2662, 1331, 3994, 1997, 5992, 2996, 1498, 749, 2248, 1124, 562, 281, 844, 422, 211, 634, 317, 952, 476, 238, 119, 358, 179, 538, 269, 808, 404, 202, 101, 304, 152, 76, 38, 19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4]
Resulting Series for 3: [3, 10, 5, 16, 8, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2]

Now that we have defined a way to compute a series defined by some *n* value, we can attempt to optimize the runtime of our **exploration(*n*)** to run faster. As we can see from the above result, the 4,2,1 repeats many, many times once our *n* reaches 4 for the first time. We can use our knowledge of the *3n+1 Conjecture* and this repitiion to optimize how long it takes our code find the series.  

Once *n=1*, we know that the next value of *n* will again be 4, then 2, then 1 again. By using this, we can stop iterating early once we know the repeated 4,2,1 is beginning. One way to do this is to add a control statement (if statement) for if *n* equals 1, and to then exit the program. This means that the repeated 4,2,1 will not be visualized in the resulting series printed, and the series will end at 1 consistently. 

We have also increased the iteration amount from 100 to 10000000, in order to increase the accuracy for larger numbers, as we are no longer printing out the repeated 4,2,1 sub-series.

In [43]:
def exploration_faster(n):
  result_list = [n]  # define a list storage for our series result

  # Loop 1000 times in order to provide a sufficent amount of 
  # iterations to find the 4,2,1 loop in the resulting series
  for i in range(1,1000000):

    # 1. if n is even, divide by 2
    # 2. if n is odd, n = 3n+1
    if(n % 2 == 0):
      n = n//2
    else: 
      n = (3*n)+1

    # 3. add the new n to our resulting series
    result_list.append(n)

    # 4. check if 4,2,1 is starting to occur repeatedly in the resulting series
    if(n == 1):
      print( ("Exited program at iteration {} as the 4,2,1 loop is starting").format(i) )
      return (result_list)

  return result_list

In [42]:
print(("Resulting Series for {}:").format(77)  , exploration_faster(77))
print('\n') 
print(("Resulting Series for {}:").format(100) , exploration_faster(100))
print('\n') 
print(("Resulting Series for {}:").format(92)  , exploration_faster(92))
print('\n') 
print(("Resulting Series for {}:").format(591) , exploration_faster(591))
print('\n') 
print(("Resulting Series for {}:").format(3)   , exploration_faster(3))

Exited program at iteration 22 as the 4,2,1 loop is starting
Resulting Series for 77: [77, 232, 116, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]


Exited program at iteration 25 as the 4,2,1 loop is starting
Resulting Series for 100: [100, 50, 25, 76, 38, 19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]


Exited program at iteration 17 as the 4,2,1 loop is starting
Resulting Series for 92: [92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]


Exited program at iteration 56 as the 4,2,1 loop is starting
Resulting Series for 591: [591, 1774, 887, 2662, 1331, 3994, 1997, 5992, 2996, 1498, 749, 2248, 1124, 562, 281, 844, 422, 211, 634, 317, 952, 476, 238, 119, 358, 179, 538, 269, 808, 404, 202, 101, 304, 152, 76, 38, 19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]


Exited program at iteration 7 as the 4,2,1 loop is starting
Resulting Series for 3: [3, 10, 5, 16, 8, 4, 2, 1]

The optimized time is shown below, compared to the original time before we had written a way to stop the iteration early on an occurence of 1.

In [45]:
print("Without optimization")
%timeit exploration(77)
%timeit exploration(100)
%timeit exploration(92)
%timeit exploration(591)
%timeit exploration(3)
print("\n")
print("With optimization")
%timeit exploration_faster(77)
%timeit exploration_faster(100)
%timeit exploration_faster(92)
%timeit exploration_faster(591)
%timeit exploration_faster(3)

Without optimization
100000 loops, best of 5: 18 µs per loop
100000 loops, best of 5: 17.9 µs per loop
100000 loops, best of 5: 17.9 µs per loop
100000 loops, best of 5: 19.1 µs per loop
100000 loops, best of 5: 18 µs per loop


With optimization
100000 loops, best of 5: 5.04 µs per loop
100000 loops, best of 5: 5.58 µs per loop
100000 loops, best of 5: 3.94 µs per loop
100000 loops, best of 5: 12.9 µs per loop
The slowest run took 4.28 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 5: 1.92 µs per loop