<a href="https://colab.research.google.com/github/srfslvr14/Math-152/blob/main/exploration1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploration 1 : *The 3n+1 Conjecture.*

Presented to you by the **PurpleOs**: 
  - Abhishek Sriramgroup
  - Luisana Rodriguez Sequeira 
  - Spencer Fulgham
  - Tim Du


In this notebook, we will be exploring the fabeled **3n+1 conjecture**. This conjecture states that, starting with some number *n*, we can create a series by following two rules.

1. If *n* is an even number, divide it by 2
2. if *n* is an odd number, have *n = 3n+1*

By following these rules, we will result in a series containing each iteration and value of *n* as we progress, and, by the odd properties of this conjecture, the series will inevitabley begin repeating 4,2,1 over and over again. This is because 4 is even, so *n* = (4/2) = 2, 2 is even, so *n* = (2/2) = 1, and since 1 is odd, *n* = (3x1+1) = 4, and thus we arrive back at *n* = 4.

For example, if we take *n* = 10, we find the resulting series: [ 10, 5, 16, 8, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, ... ] and so on. Once *n* = 4, the series has begun, and the repeated 4,2,1 values will occur exclusively.

# Explore: The 3n+1 Conjecture in Python


In order to explore this conjecture further, we have defined the following python function, **exploration(n)**, which takes a number *n*, and returns the resulting series in the form of a list based on the *3n+1 Conjecture*'s bounds. We can apply the rules of the *3n+1* conjecture to our defined function by using a for loop (to iterate x times and produce a sequence), as well as setting control statments (if statements) to change the value of *n* to either *n/2* or *3n+1* depending on if *n* is even or odd. 

So as of now, by taking in *n*, we have set the pace for a function which will iterate a lot (say 100 times), and change *n*'s value to *n/2* if *n* is even, or *3n+1* if *n* is odd. Each iteration, we will also append the newest computed value of *n* into a list to eventually return the first 100 indecies of the series created by the *3n+1* conjecture.

**Defined Varibles**: 
  - *result_list* : a list varible to store the resulting series as we iterated and append more values of *n* to it.
  - *i* : a varible to store which number iteration we are currently on, mainly used to keep track for use in the for loop
  - *n* : a varible used to store the initial value of *n*, as well as store every value computed within each iteration thereafter. 


**Function Logic**: 
  - Create a function which takes in a number *n*, and outputs the series created by the *3n+1 Conjecture*. 
  - Iterate 100 times, with each iteration changing *n*'s value to either n/2 or 3n+1, depending on if it is even or odd, by using control statements. Then, append *n* to *result_list*. Do this until the series is completed.

In [ ]:
def exploration(n):
  result_list = [n]  # define a list storage for our series result

  # Loop 100 times in order to provide a sufficent amount of 
  # iterations to find the 4,2,1 loop in the resulting series
  for i in range(1,100):

    # 1. if n is even, divide by 2
    # 2. if n is odd, n = 3n+1
    if(n % 2 == 0):
      n = n//2
    else: 
      n = (3*n)+1

    # 3. add the new n to our resulting series
    result_list.append(n)

  return result_list

In [ ]:
print(("Resulting Series for {}:").format(77)  , exploration(77))
print(("Resulting Series for {}:").format(100) , exploration(100))
print(("Resulting Series for {}:").format(92)  , exploration(92))
print(("Resulting Series for {}:").format(591) , exploration(591))
print(("Resulting Series for {}:").format(3)   , exploration(3))
print(("Resulting Series for {}:").format(1)   , exploration(1))

Resulting Series for 77: [77, 232, 116, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2]
Resulting Series for 100: [100, 50, 25, 76, 38, 19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2]
Resulting Series for 92: [92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4]
Resulting Series for 591: [591, 1774, 887, 2662, 1331, 3994, 1997, 5992, 2996, 1498, 749, 2248, 1124, 562, 281, 844, 422, 211, 634, 317, 952, 476, 238, 119, 358, 179, 538, 269, 808, 404, 202, 101, 304, 152, 76, 38, 19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4]
Resulting Series for 3: [3, 10, 5, 16, 8, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2]
Resulting Series for 1: [1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1]

# Explore: Time Optimization

Now that we have defined a way to compute a series defined by some *n* value, we can attempt to optimize the runtime of our **exploration(*n*)** to run faster. As we can see from the above result, the 4,2,1 repeats many, many times once our *n* reaches 4 for the first time. We can use our knowledge of the *3n+1 Conjecture* and this repitiion to optimize how long it takes our code find the series.  

Once *n=1*, we know that the next value of *n* will again be 4, then 2, then 1 again. By using this, we can stop iterating early once we know the repeated 4,2,1 is beginning. One way to do this is to add a control statement (if statement) for if *n* equals 1, and to then exit the program. This means that the repeated 4,2,1 will not be visualized in the resulting series printed, and the series will end at 1 consistently. 

We have also increased the iteration amount from 100 to 10000000, in order to increase the accuracy for larger numbers, as we are no longer printing out the repeated 4,2,1 sub-series.

In [ ]:
def exploration_faster(n):
  result_list = [n]  # define a list storage for our series result

  # Loop 1000 times in order to provide a sufficent amount of 
  # iterations to find the 4,2,1 loop in the resulting series
  for i in range(1,1000000):

    # 1. if n is even, divide by 2
    # 2. if n is odd, n = 3n+1
    if(n % 2 == 0):
      n = n//2
    else: 
      n = (3*n)+1

    # 3. add the new n to our resulting series
    result_list.append(n)

    # 4. check if 4,2,1 is starting to occur repeatedly in the resulting series
    if(n == 1):
      print( ("Exited program at iteration {} as the 4,2,1 loop is starting").format(i) )
      return (result_list)

  return result_list

In [ ]:
print(("Resulting Series for {}:").format(77)  , exploration_faster(77))
print('\n') 
print(("Resulting Series for {}:").format(100) , exploration_faster(100))
print('\n') 
print(("Resulting Series for {}:").format(92)  , exploration_faster(92))
print('\n') 
print(("Resulting Series for {}:").format(591) , exploration_faster(591))
print('\n') 
print(("Resulting Series for {}:").format(3)   , exploration_faster(3))

Exited program at iteration 22 as the 4,2,1 loop is starting
Resulting Series for 77: [77, 232, 116, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]


Exited program at iteration 25 as the 4,2,1 loop is starting
Resulting Series for 100: [100, 50, 25, 76, 38, 19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]


Exited program at iteration 17 as the 4,2,1 loop is starting
Resulting Series for 92: [92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]


Exited program at iteration 56 as the 4,2,1 loop is starting
Resulting Series for 591: [591, 1774, 887, 2662, 1331, 3994, 1997, 5992, 2996, 1498, 749, 2248, 1124, 562, 281, 844, 422, 211, 634, 317, 952, 476, 238, 119, 358, 179, 538, 269, 808, 404, 202, 101, 304, 152, 76, 38, 19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]


Exited program at iteration 7 as the 4,2,1 loop is starting
Resulting Series for 3: [3, 10, 5, 16, 8, 4, 2, 1]

The optimized time is shown below, compared to the original time before we had written a way to stop the iteration early on an occurence of 1.

In [ ]:
print("Without optimization")
%timeit exploration(77)
%timeit exploration(100)
%timeit exploration(92)
%timeit exploration(591)
%timeit exploration(3)
print("\n")
print("With optimization")
%timeit exploration_faster(77)
%timeit exploration_faster(100)
%timeit exploration_faster(92)
%timeit exploration_faster(591)
%timeit exploration_faster(3)

Without optimization
100000 loops, best of 5: 18 µs per loop
100000 loops, best of 5: 17.9 µs per loop
100000 loops, best of 5: 17.9 µs per loop
100000 loops, best of 5: 19.1 µs per loop
100000 loops, best of 5: 18 µs per loop


With optimization
100000 loops, best of 5: 5.04 µs per loop
100000 loops, best of 5: 5.58 µs per loop
100000 loops, best of 5: 3.94 µs per loop
100000 loops, best of 5: 12.9 µs per loop
The slowest run took 4.28 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 5: 1.92 µs per loop

# Explore: Allowing Negative Numbers

What would happen if we were to allow negative numbers into our python version of the *3n+1 Conjecture*? As of now, we currently have only been testing *n* > 0 starting values. Let's try to find the series of a negative number *n*.

Just based on conjecture, we could assume that negative numbers do not work well with our version of the *3n+1 Conjecture*, as *3(-n)+1* does not result in the same number as *3n+1*.

In [ ]:
print(("Resulting Series for {}:").format(-3)  , exploration_faster(-3))

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

We can see that that didn't work well. This means that our python function does not handle negative numbers safely. We can tackle this issue in many ways, possible ways including:
- Creating a safe way to exit the function if a negative *n* is entered.
- Adapting the function to use *3n-1* instead of *3n+1*.
- Using the absolute value of the *n* value entered to avoid the issue entirely.
- Change the end-early option to "if *n* == -1", instead of 1

Let's adopt the second and fourth options, as it seems the most negative-friendly. To do this, we need a new control statement for if *n* is negative. If *n* is ever negative, we should impliment our new ideas. Our new bit of code will instead go off of the *3n-1 Conjecture*, and the *3n-1* should provide the same experience for neagtive *n* values as the *3n+1* did for positive *n* values.

In [ ]:
def exploration_neg(n):
  result_list = [n]

  if(n < 0):  # n is negative, use this logic!
    for i in range(1,1000000):
      if(n % 2 == 0):   # if n is even, divide by 2
        n = n//2
      else:             # if n is odd, n = 3n-1
        n = (3*n)-1
      result_list.append(n)

      # check if -4, -2, -1 is starting to occur repeatedly in the resulting series
      if(n == -1):
        print( ("Exited program at iteration {} as the -4, -2, -1 loop is starting").format(i) )
        return result_list

  else:   # n is positive, use this logic!
    for i in range(1,1000000):
      if(n % 2 == 0):   # if n is even, divide by 2
        n = n//2
      else:             # if n is odd, n = 3n+1
        n = (3*n)+1
      result_list.append(n)

      # check if 4,2,1 is starting to occur repeatedly in the resulting series
      if(n == 1):
        print( ("Exited program at iteration {} as the 4,2,1 loop is starting").format(i) )
        return result_list

  return result_list

In [ ]:
print(("Resulting Series for {}:").format(-3)  , exploration_neg(-3))
print('\n')
print(("Resulting Series for {}:").format(3)  , exploration_neg(3))

Exited program at iteration 7 as the -4, -2, -1 loop is starting
Resulting Series for -3: [-3, -10, -5, -16, -8, -4, -2, -1]


Exited program at iteration 7 as the 4,2,1 loop is starting
Resulting Series for 3: [3, 10, 5, 16, 8, 4, 2, 1]

We can see that now our python version of the *3n+1 Conjecture* accounts for negative numbers, as well as retaining the ability to use positive numbers. The simple switch from *3n+1* to *3n-1* allowed for the same odd repetition of 4,2,1 to occur, but now shows itself as -4,-2,-1. 

Other than switching "+1" occurences in our code to now "-1" (that is, if *n* is negative), there are no functional differences in our python version of the *3n+1 Conjecture* between the logic to handle a positive *n* vs. a negative *n* value.

Both the *3n+1* and *3n-1 Conjectures* do not accept *n* = 0.

# Explore: Dropping Time

The *dropping time* ( σ(n) ) represents the amount of time it takes for the sequence starting at *n* to drop to a number smaller than *n*'s orinigal value. 

Let us consider the series created by *n* = 17. σ(17) = 3, as the resulting series is [ 17, 52, 26, 13, 27, 40, 20, 10, 5, 16, 8, 4, 2, 1, .... ], and since the 3rd value of *n* is smaller than the starting value of *n*. We say 17 takes three steps to drop, so the dropping time is 3. 

Since *n* = 1 results in *n* = 4, and *n* can't equal 0, the dropping time of 1 is undefined. 

In later sections, we'll explore the connections between dropping time and n in different mod forms.

**Defined Varibles**:
- *og_n* : a safe place to store the original value of *n* to compare to each iterative value of *n* to find the drop occurence

**Function Logic**
- Create a function which takes in a number n, and outputs the amount of iterations it takes for *n* to drop.
- Iterate 1000000 times, with each iteration changing n's value to either n/2 or 3n+1, depending on if it is even or odd by using control statements. Then, append n to result_list. Do this until the series is completed.
- Each iteration, compare *n* to *og_n*, and if *n* is a smaller number, then return the number iteration (*i*) we are on.
- If there is no drop by the 1000000th iteration, return 0, which will stand for an undefined drop time.

In [ ]:
def exploration_dt(n):
  result_list = [n]  # define a list storage for our series result
  og_n = n           # store n's original value somewhere safe

  # Loop 100 times in order to provide a sufficent amount of 
  # iterations to find the 4,2,1 loop in the resulting series
  for i in range(1,1000000):

    # 1. if n is even, divide by 2
    # 2. if n is odd, n = 3n+1
    if(n % 2 == 0):
      n = n//2
    else: 
      n = (3*n)+1

    # 3. add the new n to our resulting series
    result_list.append(n)

    # 4. Check to see if drop has been reached by comparing n to its original value
    if(og_n > n):
      return i

  return 0

In [ ]:
print(("Drop time for {}:").format(17)  , exploration_dt(17))
print(("Drop time for {}:").format(77)  , exploration_dt(77))
print(("Drop time for {}:").format(100) , exploration_dt(100))
print(("Drop time for {}:").format(92)  , exploration_dt(92))
print(("Drop time for {}:").format(591) , exploration_dt(591))
print(("Drop time for {}:").format(3)   , exploration_dt(3))

Drop time for 17: 3
Drop time for 77: 3
Drop time for 100: 1
Drop time for 92: 1
Drop time for 591: 13
Drop time for 3: 6

As we can see from the above results, 17 has a drop time of 3, as explained earlier. 

We can also see from the results, that if *n* begins as an even number, the drop time is always 1, as an even *n* will iterate to *n* = *n/2*. Odd starting values, however, will have a larger drop time, as *n*'s value grows significantly on an odd iteration.

# Explore: Connections between dropping time and n mod 8, and n mod 16, etc.

In this section, we will be exploring drop times for n mod 8 and n mod 16. We hypothesized that within the sequence of drop times for n = x mod 8, every other would belong to wither n = x mod 16 or n = x+8 mod 16. For example, if n = 3 mod 8, the drop time sequence would show the drop times for 3, 11, 19, 27 etc., we can take note that 3 and 19 are within n = 3 mod 16, and 11, and 27 are within n = 11 mod 16.

Note: Drop time for when n equals any even number mod 8 or 16 is 1 since they are even numbers and conjecture states to immediately divide them by half.

In [ ]:
# runs of n = 1 mod 8; n = 1 mod 16 every other time
for i in range(1,90,8):
  print(("Drop time for {}:").format(i)  , exploration_dt(i))
print("\n")

# runs of n = 3 mod 8; n = 3 mod 16 every other time
for i in range(3,172,8):
  print(("Drop time for {}:").format(i)  , exploration_dt(i))
print("\n")

# runs of n = 5 mod 8; n = 5 mod 16 every other time
for i in range(5,174,8):
  print(("Drop time for {}:").format(i)  , exploration_dt(i))
print("\n")

# runs of n = 7 mod 8; n = 7 mod 16 every other time
for i in range(7,176,8):
  print(("Drop time for {}:").format(i)  , exploration_dt(i))
print("\n")

# runs of n = 1 mod 8; n = 1 mod 16 every other time
for i in range(1,98,16):
  print(("Drop time for {}:").format(i)  , exploration_dt(i))
print("\n")

# runs of n = 3 mod 8; n = 3 mod 16 every other time
for i in range(3,184,16):
  print(("Drop time for {}:").format(i)  , exploration_dt(i))
print("\n")

# runs of n = 5 mod 8; n = 5 mod 16 every other time
for i in range(5,190,16):
  print(("Drop time for {}:").format(i)  , exploration_dt(i))
print("\n")

# runs of n = 7 mod 8; n = 7 mod 16 every other time
for i in range(7,192,16):
  print(("Drop time for {}:").format(i)  , exploration_dt(i))
print("\n") 

# runs of n = 9 mod 8; n = 9 mod 16 every other time
for i in range(9,194,16):
  print(("Drop time for {}:").format(i)  , exploration_dt(i))
print("\n") 

# runs of n = 11 mod 16 every other time
for i in range(11,476,16):
  print(("Drop time for {}:").format(i)  , exploration_dt(i))
print("\n")

# runs of n = 13 mod 16 every other time
for i in range(13,182,16):
  print(("Drop time for {}:").format(i)  , exploration_dt(i))
print("\n")

# runs of n = 15 mod 16 every other time
for i in range(15,182,16):
  print(("Drop time for {}:").format(i)  , exploration_dt(i))
print("\n")

Drop time for 1: 0
Drop time for 9: 3
Drop time for 17: 3
Drop time for 25: 3
Drop time for 33: 3
Drop time for 41: 3
Drop time for 49: 3
Drop time for 57: 3
Drop time for 65: 3
Drop time for 73: 3
Drop time for 81: 3
Drop time for 89: 3


Drop time for 1: 0
Drop time for 9: 3
Drop time for 17: 3
Drop time for 25: 3
Drop time for 33: 3
Drop time for 41: 3
Drop time for 49: 3
Drop time for 57: 3
Drop time for 65: 3
Drop time for 73: 3
Drop time for 81: 3
Drop time for 89: 3


Drop time for 1: 0
Drop time for 9: 3
Drop time for 17: 3
Drop time for 25: 3
Drop time for 33: 3
Drop time for 41: 3
Drop time for 49: 3
Drop time for 57: 3
Drop time for 65: 3
Drop time for 73: 3
Drop time for 81: 3
Drop time for 89: 3


Drop time for 1: 0
Drop time for 17: 3
Drop time for 33: 3
Drop time for 49: 3
Drop time for 65: 3
Drop time for 81: 3
Drop time for 97: 3


Drop time for 3: 6
Drop time for 19: 6
Drop time for 35: 6
Drop time for 51: 6
Drop time for 67: 6
Drop time for 83: 6
Drop time for 99: 6
Drop time for 115: 6
Drop time for 131: 6
Drop time for 147: 6
Drop time for 163: 6
Drop time for 179: 6


Drop time for 5: 3
Drop time for 21: 3
Drop time for 37: 3
Drop time for 53: 3
Drop time for 69: 3
Drop time for 85: 3
Drop time for 101: 3
Drop time for 117: 3
Drop time for 133: 3
Drop time for 149: 3
Drop time for 165: 3
Drop time for 181: 3


Drop time for 7: 11
Drop time for 23: 8
Drop time for 39: 13
Drop time for 55: 8
Drop time for 71: 83
Drop time for 87: 8
Drop time for 103: 68
Drop time for 119: 8
Drop time for 135: 11
Drop time for 151: 8
Drop time for 167: 47
Drop time for 183: 8


Drop time for 9: 3
Drop time for 25: 3
Drop time for 41: 3
Drop time for 57: 3
Drop time for 73: 3
Drop time for 89: 3
Drop time for 105: 3
Drop time for 121: 3
Drop time for 137: 3
Drop time for 153: 3
Drop time for 169: 3
Drop time for 185: 3


Drop time for 11: 8
Drop time for 27: 96
Drop time for 43: 8
Drop time for 59: 11
Drop time for 75: 8
Drop time for 91: 73
Drop time for 107: 8
Drop time for 123: 13
Drop time for 139: 8
Drop time for 155: 65
Drop time for 171: 8
Drop time for 187: 11
Drop time for 203: 8
Drop time for 219: 13
Drop time for 235: 8
Drop time for 251: 44
Drop time for 267: 8
Drop time for 283: 39
Drop time for 299: 8
Drop time for 315: 11
Drop time for 331: 8
Drop time for 347: 16
Drop time for 363: 8
Drop time for 379: 13
Drop time for 395: 8
Drop time for 411: 24
Drop time for 427: 8
Drop time for 443: 11
Drop time for 459: 8
Drop time for 475: 13


Drop time for 13: 3
Drop time for 29: 3
Drop time for 45: 3
Drop time for 61: 3
Drop time for 77: 3
Drop time for 93: 3
Drop time for 109: 3
Drop time for 125: 3
Drop time for 141: 3
Drop time for 157: 3
Drop time for 173: 3


Drop time for 15: 11
Drop time for 31: 91
Drop time for 47: 88
Drop time for 63: 88
Drop time for 79: 13
Drop time for 95: 13
Drop time for 111: 50
Drop time for 127: 24
Drop time for 143: 11
Drop time for 159: 34
Drop time for 175: 13

## Results
When n equals 1 or 5 mod 8, the drop time (applying the conjecture to n) is 3 everytime; similarly when n equals 1, 5, 9, or 13 mod 16 (which is equal to 1 and 5 mod 8). When n equals 15 mod 16, drop times don't seem to have a pattern (see last run in code cell above). When n equals 11 mod 16, every other drop time in the sequence is 8, though the rest don't have a pattern (see second to last run in code cell above). Another example of this is how very other drop time in the sequence of n equals 3 mod 8 is 6, which relates to how every drop time in the sequence of n equals 3 mod 16 is 6.

#Conclusion

Our exploration of the *3n+1 Conjecture* has shed light on many aspects of this bizzare sequence. As we explored, we created multiple implimentations of the *3n+1 Conjecture*, as many avenues of our exploration required new functionality. Some of our implimentations built upon others, while many are standalone and simply build off the base implimentation.

Defining the varibles and functionality of the conjecture has helped to show how the unique sequence is formed. Our implimentation of the base *3n+1 Conjecture* is defined as such. 
    
    exploration(n)

While exploring an optimum runtime for the conjecture has pulled the curtain on how certain *n* values can affect the speed of the output, whether positivly or negativly. Our solution to speed up the function was to simply check when the repeated [4,2,1] subsequence began occuring, and to end the function with the currently created result sequence, as any other value after *1* would be 4, 2, or 1. The implimentation of the time-optimized version of the *3n+1 Conjecture* is defined as such.

    exploration_faster(n)

Exploring the issue of negative *n* inputs was a challenge, as the *3n+1 Conjecture* is built for positive *n* values. The solution developed resulted in another version of the *3n+1 Conjecture* dubbed the "*3n-1 Conjecture*", which, given a negative *n* value, will result in a series similarly to thew *3n+1 Conjecture*, expect replacing odd *n* values with *3n-1* as opposed to *3n+1*. By adding a control statemnt to determine which conjecture to deploy, a single function is capable of running our new dual-conjectures. Results found that the sequences output by the *3n-1 Conjecture* are the same as the *3n+1 Conjecture*, aside from all the iterations of *n* being negative instead of positive. The implimentation of both the *3n+1* and *3n-1 Conjectures* are defined in a single function defined as such.

    exploration_neg(n)

Developing a dropping time dependant on an inital *n* value was simple to create, yet challenging to parse and explore. To impliment the drop time, we added a control statment to check if the current iteration of *n* was a lower value that the initial value of *n* passed to the function, and returning the dropping time as opposed to the *3n+1 Conjecture*'s resulting sequence. It was discovered that initally even *n* values would always have a dropping time of 1, while initally odd *n* values would have varying dropping times greater than 1. 

**insert mod stuff here i dunno it** 

The "dropping time calculator" version of the *3n+1 Conjecture* is defined as such.

    exploration_dt(n)

To wrap it all up, the *3n+1 Conjecture* is a simple function with a bizzare result. There are many aspects to this conjecture to explore, and while we understnad much of the conjecture as it stands, there is always more room for exploration when it comes to such an oddity of mathmatics.